<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contacts - CRUD in Spring Boot with Spring Data JPA</title>
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--<div class="container">-->
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Add User</div>
                        <div class="panel-body">
                            <form action="/users/add" th:action="@{/users/add}" th:object="${user}" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" name="username" />
                                    <span  class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</span>
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Full Name" th:field="*{fullName}" name="fullName" />
                                    <span  class="help-block" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" name="email" />
                                    <span  class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" name="password" />
                                    <span  class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                                </div>
                                <div class="text-right">
                                    <a href="/users" th:href="@{/users}" class="btn btn-default">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
    </body>
</html>
